<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" href="/images/logo-mercado-liebre.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav>
            <div class="top">
                <a href="/"><img class="logo" width="200" src="/images/logo-mercado-liebre.svg" alt="logo de mercadoliebre"></a>

                <div class="search-bar">
                    <input id="search-input" placeholder="Buscar productos, marcas">
                    <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

                <div class="hook"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédtio
                </div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul>
                    <li><a class="nav-links" href="register">Creá tu cuenta<i class="far fa-id-card" id="iconito"></i></a></li>
                    <li><a class="nav-links" href="login">Ingresá<i class="fas fa-sign-in-alt" id="iconito"></i></a></li>
                    <li>Mis compras<i class="fas fa-shopping-basket" id="iconito"></i></li>
                </ul>
            </div>
            <div class="burger-container">
                <button class="burger-menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" width="100%" alt="banner">
        <h3 class="titulares">Basado en tu última visita</h3>
        <section>
            <article class="productos">
                <img class="image" height="300" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <P class="descripciones"><b>Cafetera Moulinex</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <P class="descripciones"><b>MacBook Pro 2019</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-samsung-galaxy-s10.jpg"
                    alt="imagen del Samsung Galaxy">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <P class="descripciones"><b>Samsung Galaxy S10</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTV">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.000</p>
                    <p class="descuentos">5% OFF</p>
                    <P class="descripciones"><b>SmartTv Samsung 43"</b></P>
                </div>
            </article>
        </section>
        <h3 class="titulares">Sección de ofertas</h3>
        <section>
            <article class="productos">
                <img class="image" height="300" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <P class="descripciones"><b>Cafetera Moulinex</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <P class="descripciones"><b>MacBook Pro 2019</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-samsung-galaxy-s10.jpg"
                    alt="imagen del Samsung Galaxy">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <P class="descripciones"><b>Samsung Galaxy S10</b></P>
                </div>
            </article>
            <article class="productos">
                <img class="image" height="300" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTV">
                <div class="content">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.000</p>
                    <p class="descuentos">5% OFF</p>
                    <P class="descripciones"><b>SmartTv Samsung 43"</b></P>
                </div>
            </article>
        </section>
    </main>
</body>

<footer>
    <div class="flex-de-abajo">
        <div class="footer">
            <i class="fas fa-credit-card" id="icon"></i>
            <p class="first-line"><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </div>
        <div class="footer">
            <i class="fas fa-gift" id="icon"></i>
            <p class="first-line"><b>Envío gratis desde $2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos.</p>
        </div>
        <div class="footer">
            <i class="fas fa-user-shield" id="icon"></i>
            <p class="first-line"><b>Seguridad, de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>

</html>