* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* /////////////////////// HEADER //////////////////////// */

header {
    background-color: #eac926;
    font-size: 12px;
}

.logo {
    margin: 10px;
    width: 33%;
}

.search-bar {
    margin: 10px;
    width: 33%;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
}

#search-input {
    border: none;
    width: 92%;
}

#search-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 10px;
    justify-content: right;
    cursor: pointer;
}

.hook {
    align-items: center;
    width: 33%;
    justify-content: center;
}

.top {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: inline-block;
    padding: 0px 2px;
    margin: 18px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    padding: 0px 2px;
    margin: 18px;
    width: 400px;
    justify-content: space-around;
    text-decoration: none;
}

.nav-bar li {
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.nav-bar li:hover {
    color: #1259c3;
    cursor: pointer;
}

.nav-links {
    color: inherit;
    text-decoration: none;
}

#iconito {
    padding-left: 5px;
}

/* burger things */
.burger-menu {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    background-color: #1259c3;
    color: #ffffff;
    margin: 20px;
}

.fas.fa-bars {
    font-size: 25px;
    padding: 10px;
}

/* //////////////////////// BODY ///////////////////////// */

main {
    display: block;
    background-color: #ebebeb;
    color: #666;
}

/* section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
} */
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 90%;
    margin: 10px; */
    /* width: 100%;
    padding: 10px; */
}

/* .products-wrapper {
    display: flex;
    flex-direction: row;
} */

/* article {
    
} */

.productos {
    display: block;
    max-width: 400px;
    margin: 10px 10px;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    padding: 20px;
}

.fas.fa-truck {
    display: block;
    position: absolute;
    color: #39b54a;
    background-color: #ffffff;
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    right: 20px;
    top: -15px;
    transition: all 0.5s ease 0s;
}

.fas.fa-truck:hover {
    transform: rotate(-90deg);
}

.content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    justify-content: flex-start;
}

/* .content2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */

p {
    font-size: 12px;
}

.titulares {
    display: block;
    font-size: 24px;
    width: 90%;
    margin: 10px auto 10px;
}

.precios {
    color: #000000;
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.descripciones {
    justify-self: flex-start;
    font-size: 16px;
    padding-top: 10px;
}

/* /////////////////////// FOOTER //////////////////////// */

footer {
    display: block;
    color: #666;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 30px 0px;
}

.footer {
    padding-bottom: 40px;
    margin: 20px;
}

.flex-de-abajo {
    display: flex;
    padding-inline: 50px;
    align-items: flex-start;
    flex-direction: column;

}

.first-line b {
    font-size: 14px;
}

#icon {
    color: #1259c3;
    font-size: 2em;
    margin: 20px 0px 10px 0px;
}

.copyright {
    text-align: left;
}

@media (min-width: 769px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .burger-container {
        display: none;
    }
}

@media (min-width: 390px) {

    /* desktop y tablet*/

    .productos {
        flex-direction: row;
        width: 20%;
        max-width: 400px;
        flex: 1 0 40%;
        justify-content: space-evenly;
    }

    .flex-de-abajo {
        flex-direction: row;
        padding-inline: 50px;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (max-width: 390px) {

    /* mobile */
    .nav-bar {
        display: none;
    }

    .burger-container {
        display: block;
        text-align: center;
    }

    .descripciones {
        display: none;
    }

    .flex-de-abajo {
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 769px) {
    .nav-bar {
        display: none;
    }
    .burger-container {
        display: block;
        text-align: center;
    }
}