* {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #eac926;
}

.logo {
    margin: 10px;
}

.search-bar {
    margin: 10px;
}

.hook {
    align-items: center;
}

.burger-container {
    display: block;
    text-align: center;
}

.burger-menu {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    background-color: #1259c3;
    color: #ffffff;
    margin: 20px;
}

.fas.fa-bars {
    font-size: 25px;
    padding: 10px;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
}

footer {
    display: block;
    color: #666;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 30px 0px;
}

.footer {
    padding-bottom: 40px;
}

.first-line {
    font-size: 14px;
}

#icon {
    color: #1259c3;
    font-size: 2em;
    margin: 20px 0px 10px 0px;
}

.copyright {
    text-align: left;
}