* {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #eac926;
}

.logo {
    margin: 10px;
}

.search-bar {
    margin: 10px;
}

.hook {
    align-items: center;
}

/* burger things */
.burger-menu {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    background-color: #1259c3;
    color: #ffffff;
    margin: 20px;
}

.fas.fa-bars {
    font-size: 25px;
    padding: 10px;
}

main {
    display: block;
    background-color: #ebebeb;
    color: #666;
}

section {
    padding: 10px;
}

article {
    display: block;
    width: 90%;
    margin: 10px auto 10px;
    background-color: #ffffff;
}

.image {
    width: 100%;
    height: auto;
    padding: 20px;
}

.fas.fa-truck {
    color: #39b54a;
    border: solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    height: 35px;
    width: 35px;
}

.content {
    display: block;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    justify-content: left;
}

p {
    font-size: 12px;
}

.titulares {
    display: block;
    font-size: 24px;
    width: 90%;
    margin: 10px auto 10px;
}

.precios {
    color: #000000;
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
    padding-top: 10px;
}

footer {
    display: block;
    color: #666;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 30px 0px;
}

.footer {
    padding-bottom: 40px;
}

.first-line b {
    font-size: 14px;
}

#icon {
    color: #1259c3;
    font-size: 2em;
    margin: 20px 0px 10px 0px;
}

.copyright {
    text-align: left;
}

@media (min-width: 390px) {
    /* desktop y tablet*/
    .burger-container {
        display: none;
    }
}

@media (min-width: 390px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (max-width: 390px) {
    /* mobile */
    navbar {
        display: none;
    }
    .burger-container {
        display: block;
        text-align: center;
    }
    .descripciones {
        display: none;
    }
}